h1 {
  text-align: center;
}

h2 {
  
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 500;
}

.info {
  font-size: 14px;
  color: rgba(0,0,0,.54);

  p {
    margin: 0 0 12px;
  }
}